@model HotelManagementApp.Models.Unit

@{
    ViewBag.Title = "Details";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City.Name)
        </dd>

    </dl>
</div>
<p>
    @if (User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.UnitId }, new { @class = "btn btn-link" })
    }
        <input class="btn btn-link" type="button" value="Back" onclick="history.back()" />
    </p>
@if (Model.Rooms.Count > 0)
{
    <h2>List of rooms in this unit:</h2>
    <ul>
        @foreach (HotelManagementApp.Models.Room room in Model.Rooms)
        {
            <hr />
            <li>
                <a href="/Rooms/Details/@room.Id">
                    <img src="@room.RoomArtUrl" style="max-width:200px" />
                </a>
            </li>
        }
    </ul>
}