<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/Home/Index">
                    <img src="~/Content/rmslogo.png" style="max-width:60px; margin-top:10px; margin-right: 10px" />
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Rooms", "Index", "Rooms", new { }, new { style = "font-weight:600" })</li>
                    <li>@Html.ActionLink("Units", "Index", "Units", new { }, new { style = "font-weight:600" })</li>
                    <li>@Html.ActionLink("Cities", "Index", "Cities", new { }, new { style = "font-weight:600" })</li>
                    @if (User.IsInRole("Staff"))
                    {
                    <li>@Html.ActionLink("Guests", "Index", "Guests", new { }, new { style = "font-weight:600"})</li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li>@Html.ActionLink("Add User To Role", "AddUserToRole", "Account", new { }, new { style = "font-weight: 600"})</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Make a reservation: </p>
            <p>(123) 1234-555</p>
            <p>bighotelbrand@reservations.com</p>
        </footer>
    </div>
    
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
